<!--bootstrap css解释按顺序：导航条，黑底白字，固定在顶部-->
<nav class="nav navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--data-target=".navbar-ex1-collapse" 自定义名称用于与下面列表关联-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">在线竞拍</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">网站地图</a></li>
      </ul>
    </div>
  </div>
</nav>
